AnyID Project/AnyID Gateway v1.0.0/KKService2/Service References/KKT/KKTAuthentication.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:ax26="http://message.kktutility.services.kiatnakinbank.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ax21="http://dto.kktutility.services.kiatnakinbank.com" xmlns:ax23="http://dto.authentication.kktutility.services.kiatnakinbank.com" xmlns:ax25="http://message.authentication.kktutility.services.kiatnakinbank.com" xmlns:ns="http://service.authentication.kktutility.services.kiatnakinbank.com" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://service.authentication.kktutility.services.kiatnakinbank.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
		KKTUtility for Authentication.
	</wsdl:documentation>
  <wsdl:types>
    <xs:schema xmlns:ax24="http://dto.authentication.kktutility.services.kiatnakinbank.com" xmlns:ax22="http://dto.kktutility.services.kiatnakinbank.com" xmlns:ax210="http://message.authentication.kktutility.services.kiatnakinbank.com" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.authentication.kktutility.services.kiatnakinbank.com">
      <xs:import namespace="http://dto.kktutility.services.kiatnakinbank.com" />
      <xs:import namespace="http://dto.authentication.kktutility.services.kiatnakinbank.com" />
      <xs:import namespace="http://message.authentication.kktutility.services.kiatnakinbank.com" />
      <xs:element name="Authenticate">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" name="Header" type="ax22:RequestHeader" />
            <xs:element minOccurs="1" name="Authentication" type="ax24:Authentication" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="authenticateResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" name="return" type="ax210:AuthenticationResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema xmlns:ax28="http://message.kktutility.services.kiatnakinbank.com" xmlns:ax29="http://dto.authentication.kktutility.services.kiatnakinbank.com" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://message.authentication.kktutility.services.kiatnakinbank.com">
      <xs:import namespace="http://message.kktutility.services.kiatnakinbank.com" />
      <xs:import namespace="http://dto.authentication.kktutility.services.kiatnakinbank.com" />
      <xs:complexType name="AuthenticationResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="ax28:Response">
            <xs:sequence>
              <xs:element minOccurs="1" name="UserInfo" type="ax29:UserInfo" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ax27="http://dto.kktutility.services.kiatnakinbank.com" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://message.kktutility.services.kiatnakinbank.com">
      <xs:import namespace="http://dto.kktutility.services.kiatnakinbank.com" />
      <xs:complexType name="Response">
        <xs:sequence>
          <xs:element minOccurs="1" name="Header" type="ax27:ResponseHeader" />
          <xs:element minOccurs="1" name="ResponseStatus" type="ax27:ResponseStatus" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.authentication.kktutility.services.kiatnakinbank.com">
      <xs:complexType name="Authentication">
        <xs:sequence>
          <xs:element minOccurs="1" name="UserId" type="xs:string" />
          <xs:element minOccurs="1" name="UserPassword" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UserInfo">
        <xs:sequence>
          <xs:element minOccurs="1" name="UserBranchName" type="xs:string" />
          <xs:element minOccurs="1" name="UserBranchNo" type="xs:string" />
          <xs:element minOccurs="1" name="UserFullName" type="xs:string" />
          <xs:element minOccurs="1" name="UserId" type="xs:string" />
          <xs:element minOccurs="0" name="UserRoles" nillable="true" type="ax23:UserRoles" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UserRoles">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="UserRoles" nillable="true" type="ax23:UserRole" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UserRole">
        <xs:sequence>
          <xs:element minOccurs="1" name="RoleCode" type="xs:string" />
          <xs:element minOccurs="1" name="RoleName" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.kktutility.services.kiatnakinbank.com">
      <xs:complexType name="Header">
        <xs:sequence>
          <xs:element minOccurs="1" name="ChannelId" type="xs:string" />
          <xs:element minOccurs="1" name="ServiceName" type="xs:string" />
          <xs:element minOccurs="1" name="TransDate" type="xs:date" />
          <xs:element minOccurs="1" name="TransReferenceNo" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RequestHeader">
        <xs:complexContent mixed="false">
          <xs:extension base="ax21:Header">
            <xs:sequence>
              <xs:element minOccurs="1" name="LoginName" type="xs:string" />
              <xs:element minOccurs="1" name="LoginPassword" type="xs:string" />
              <xs:element minOccurs="1" name="RepeatFlag" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="ResponseHeader">
        <xs:complexContent mixed="false">
          <xs:extension base="ax21:Header">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="ResponseStatus">
        <xs:sequence>
          <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ErrorDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="1" name="Etatus" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="AuthenticateResponse">
    <wsdl:part name="parameters" element="ns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="AuthenticateRequest">
    <wsdl:part name="parameters" element="ns:Authenticate" />
  </wsdl:message>
  <wsdl:portType name="KKTAuthenticationPortType">
    <wsdl:operation name="authenticate">
      <wsdl:input wsaw:Action="urn:Authentication" message="ns:AuthenticateRequest" />
      <wsdl:output wsaw:Action="urn:AuthenticationResponse" message="ns:AuthenticateResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="KKTAuthenticationHttpBinding" type="ns:KKTAuthenticationPortType">
    <http:binding verb="POST" />
    <wsdl:operation name="authenticate">
      <http:operation location="authentication" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="KKTAuthenticationSoap12Binding" type="ns:KKTAuthenticationPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="authenticate">
      <soap12:operation soapAction="urn:authentication" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="KKTAuthenticationSoap11Binding" type="ns:KKTAuthenticationPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="authenticate">
      <soap:operation soapAction="urn:authentication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KKTAuthentication">
    <wsdl:port name="KKTAuthenticationHttpSoap11Endpoint" binding="ns:KKTAuthenticationSoap11Binding">
      <soap:address location="http://KKTAPPD01B.kiatnakinbank.com:7779/KKTUtility/services/KKTAuthentication.KKTAuthenticationHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="KKTAuthenticationHttpSoap12Endpoint" binding="ns:KKTAuthenticationSoap12Binding">
      <soap12:address location="http://KKTAPPD01B.kiatnakinbank.com:7779/KKTUtility/services/KKTAuthentication.KKTAuthenticationHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="KKTAuthenticationHttpEndpoint" binding="ns:KKTAuthenticationHttpBinding">
      <http:address location="http://KKTAPPD01B.kiatnakinbank.com:7779/KKTUtility/services/KKTAuthentication.KKTAuthenticationHttpEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>